@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Login Page Styles */
.login-container {
  @apply min-h-screen bg-black text-white flex items-center justify-center;
}

.login-box {
  @apply w-full max-w-md p-6 bg-gray-900 rounded-lg shadow-lg space-y-6;
}

.login-title {
  @apply text-2xl font-bold text-center;
}

.login-input {
  @apply w-full px-4 py-2 rounded bg-gray-800 text-white border border-gray-700;
}

.login-button {
  @apply w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded disabled:opacity-50;
}

.login-error {
  @apply text-red-500 text-center;
}

/*Landing Page Styles */
.landing-container {
  @apply min-h-screen bg-black text-white flex items-center justify-center;
}

.landing-box {
  @apply text-center space-y-6 p-8 rounded-lg shadow-lg bg-gray-900 max-w-xl w-full;
}

.landing-title {
  @apply text-3xl font-bold;
}

.landing-buttons {
  @apply flex flex-col gap-4;
}

.landing-button {
  @apply bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded transition duration-200 cursor-pointer;
}

.pagination {
  @apply flex items-center space-x-2 mt-6 flex justify-center
}

.pagination-button {
  @apply bg-gray-100 border border-gray-300 py-2 px-4 rounded-md cursor-pointer transition-colors duration-300 hover:bg-gray-300 disabled:bg-gray-200 disabled:cursor-not-allowed
}

/* search css */
.search-container {
  @apply container mx-auto p-6 grid grid-cols-1 md:grid-cols-2 gap-6
}

.header {
  @apply text-3xl font-bold text-center mb-6
}

.search-input {
  @apply cursor-pointer p-4 bg-gray-100 rounded-lg hover:bg-gray-200 transition
}

/* right page */
.member-details {
  @apply p-6 bg-gray-50 rounded-lg shadow
}

.edit-cursor {
  @apply p-2 border rounded bg-gray-200 cursor-not-allowed
}

.save-btn {
  @apply bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded
}